/* common shared styles */
body{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav related style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    text-align: left;
}
.text-primary{
    color: rgb(253, 110, 10);
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}
.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    padding: 15px 35px;
}
/* header related styles */

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
    
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.banner-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0;
    width: 585px;
    height: 60px;
}